body {
    margin: 0;
    height: 100vh;
    background: #000000;
    overflow: hidden;
}

div {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: left;
    background: #eeeeee;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}